In [153]:
import pandas as pd 
pd.options.display.max_columns = 40

Load data to CVS

In [154]:
df = pd.read_csv(r"C:\Users\elian\OneDrive\Escritorio\Jugadores Hockey Proyect\CSV\IN\njd_2023.csv")
team_abv= 'NJD'
season = '2023'
reg_or_playoffs = 'R'

In [155]:
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4,Unnamed: 20,Advanced (at Even Strength),Advanced (at Even Strength).1,Advanced (at Even Strength).2,Advanced (at Even Strength).3,Advanced (at Even Strength).4,Advanced (at Even Strength).5,Advanced (at Even Strength).6,Advanced (at Even Strength).7,Advanced (at Even Strength).8,Advanced (at Even Strength).9,Advanced (at Even Strength).10
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG,NaN,CF,CA,CF%,FF,FA,FF%,FOW,FOL,FO%,oZS%,PDO
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,NaN,37,8,1,3,0,NaN,25,8,1,3,0,NaN,70,31,69.3,47,24,66.2,35,25,58.3,61.0,80.9
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,NaN,39,12,0,3,0,NaN,22,10,0,4,0,NaN,63,34,64.9,45,24,65.2,25,19,56.8,69.9,76.6

In [156]:
df = df.loc[:,:'Opponent.4']
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,NaN,37,8,1,3,0,NaN,25,8,1,3,0
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,NaN,39,12,0,3,0,NaN,22,10,0,4,0
3,3,2022-10-18,NaN,Anaheim Ducks,4,2,W,NaN,NaN,41,15,0,3,0,NaN,20,23,0,4,0
4,4,2022-10-20,@,New York Islanders,4,1,W,NaN,NaN,43,6,0,3,0,NaN,17,8,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,2023-04-04,NaN,Pittsburgh Penguins,5,1,W,NaN,NaN,37,8,1,4,0,NaN,23,8,0,4,0
79,79,2023-04-06,NaN,Columbus Blue Jackets,8,1,W,NaN,NaN,36,24,2,3,1,NaN,17,20,0,5,0
80,80,2023-04-08,@,Boston Bruins,1,2,L,NaN,NaN,30,4,0,3,0,NaN,40,10,1,1,0
81,81,2023-04-11,NaN,Buffalo Sabres,6,2,W,NaN,NaN,30,4,0,2,0,NaN,38,4,0,2,0
82,82,2023-04-13,@,Washington Capitals,5,4,W,OT,NaN,34,11,1,2,0,NaN,31,11,0,1,0

In [157]:
df.drop(columns=['Unnamed: 8','Unnamed: 14'],inplace=True)
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Team,Team.1,Team.2,Team.3,Team.4,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,39,12,0,3,0,22,10,0,4,0

In [158]:
df.rename(columns={'Unnamed: 0':'GP', 'Unnamed: 1':"Date", 'Unnamed: 2':"Home", 'Unnamed: 3':"Opp_Name", 'Unnamed: 4':"GF",
       'Unnamed: 5':"GA", 'Unnamed: 6':"Result", 'Unnamed: 7':"OT", 'Team':"Team_S", 'Team.1':"Team_PIM", 'Team.2':"Team_PPG",
       'Team.3':"Team_PPO", 'Team.4':"Team_SHG", 'Opponent':"Opp_S", 'Opponent.1':"Opp_PIM", 'Opponent.2':"Opp_PPG",
       'Opponent.3':"Opp_PPO", 'Opponent.4':"Opp_SHG"},inplace=True)

df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0

In [159]:
df.drop(0,inplace=True)
df.head(3)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,39,12,0,3,0,22,10,0,4,0
3,3,2022-10-18,NaN,Anaheim Ducks,4,2,W,NaN,41,15,0,3,0,20,23,0,4,0

In [160]:
df.Home = [0 if x =='@'else 1 for x in df.Home]
df.OT = [1 if x == 'NaN' else 0 for x in df.OT]
df

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
1,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0
2,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0
3,3,2022-10-18,1,Anaheim Ducks,4,2,W,0,41,15,0,3,0,20,23,0,4,0
4,4,2022-10-20,0,New York Islanders,4,1,W,0,43,6,0,3,0,17,8,0,2,0
5,5,2022-10-22,1,San Jose Sharks,2,1,W,0,36,4,1,3,0,22,6,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,2023-04-04,1,Pittsburgh Penguins,5,1,W,0,37,8,1,4,0,23,8,0,4,0
79,79,2023-04-06,1,Columbus Blue Jackets,8,1,W,0,36,24,2,3,1,17,20,0,5,0
80,80,2023-04-08,0,Boston Bruins,1,2,L,0,30,4,0,3,0,40,10,1,1,0
81,81,2023-04-11,1,Buffalo Sabres,6,2,W,0,30,4,0,2,0,38,4,0,2,0
82,82,2023-04-13,0,Washington Capitals,5,4,W,0,34,11,1,2,0,31,11,0,1,0

In [161]:
df['Team_Abv'] = team_abv
df['Season'] = reg_or_playoffs
df['Season_Year']= season

In [162]:
team_abv_names= pd.read_csv(r"C:\Users\elian\OneDrive\Escritorio\Jugadores Hockey Proyect\CSV\IN\team_abv.csv")
team_abv_names.head(5)

   ABV             Team  ID
0  ANA    Anaheim Ducks   1
1  ARI  Arizona Coyotes   2
2  BOS    Boston Bruins   3
3  BUF   Buffalo Sabres   4
4  CGY   Calgary Flames   5

In [163]:
df = df.merge(team_abv_names, left_on=['Team_Abv'], right_on=['ABV'], how='left')
df.head(5)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,ABV,Team,ID
0,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,NJD,New Jersey Devils,18
1,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,NJD,New Jersey Devils,18
2,3,2022-10-18,1,Anaheim Ducks,4,2,W,0,41,15,0,3,0,20,23,0,4,0,NJD,R,2023,NJD,New Jersey Devils,18
3,4,2022-10-20,0,New York Islanders,4,1,W,0,43,6,0,3,0,17,8,0,2,0,NJD,R,2023,NJD,New Jersey Devils,18
4,5,2022-10-22,1,San Jose Sharks,2,1,W,0,36,4,1,3,0,22,6,0,2,0,NJD,R,2023,NJD,New Jersey Devils,18

In [164]:
df.rename(columns={'ID':'team_id'},inplace=True)
df.drop(columns='ABV', inplace=True)
df.head(5)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,Team,team_id
0,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,New Jersey Devils,18
1,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,New Jersey Devils,18
2,3,2022-10-18,1,Anaheim Ducks,4,2,W,0,41,15,0,3,0,20,23,0,4,0,NJD,R,2023,New Jersey Devils,18
3,4,2022-10-20,0,New York Islanders,4,1,W,0,43,6,0,3,0,17,8,0,2,0,NJD,R,2023,New Jersey Devils,18
4,5,2022-10-22,1,San Jose Sharks,2,1,W,0,36,4,1,3,0,22,6,0,2,0,NJD,R,2023,New Jersey Devils,18

create a primary key

In [168]:
df['Key']= df['team_id'].astype(str)+'-'+season+'-'+reg_or_playoffs+df['GP'].astype(str)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,Team,team_id,Key
0,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,New Jersey Devils,18,18-2023-R1
1,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,New Jersey Devils,18,18-2023-R2
2,3,2022-10-18,1,Anaheim Ducks,4,2,W,0,41,15,0,3,0,20,23,0,4,0,NJD,R,2023,New Jersey Devils,18,18-2023-R3
3,4,2022-10-20,0,New York Islanders,4,1,W,0,43,6,0,3,0,17,8,0,2,0,NJD,R,2023,New Jersey Devils,18,18-2023-R4
4,5,2022-10-22,1,San Jose Sharks,2,1,W,0,36,4,1,3,0,22,6,0,2,0,NJD,R,2023,New Jersey Devils,18,18-2023-R5

In [171]:
#clean date
df['Date']= df.Date.astype(str)
df['Date'] = df.Date.str.replace('-','')
df.head(5)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,Team,team_id,Key
0,1,20221013,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,New Jersey Devils,18,18-2023-R1
1,2,20221015,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,New Jersey Devils,18,18-2023-R2
2,3,20221018,1,Anaheim Ducks,4,2,W,0,41,15,0,3,0,20,23,0,4,0,NJD,R,2023,New Jersey Devils,18,18-2023-R3
3,4,20221020,0,New York Islanders,4,1,W,0,43,6,0,3,0,17,8,0,2,0,NJD,R,2023,New Jersey Devils,18,18-2023-R4
4,5,20221022,1,San Jose Sharks,2,1,W,0,36,4,1,3,0,22,6,0,2,0,NJD,R,2023,New Jersey Devils,18,18-2023-R5